<ion-view title="Terms & Conditions" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                  <label class="item item-input " id="page2-textarea2">
                    <textarea placeholder="" rows="10" cols="80"></textarea>
                  </label>
                  <div class="spacer" style="height: 10px;"></div>
                    <div class="col-md-3" style="text-align: center">
                      <button id="page2-button5" class=" button button-main-signout">ACCEPT</button>
                    </div>
                  </div>
              </div>
          </div>
    </ion-content>
</ion-view>
