<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.cromwellfiresheet488865" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" >
  <name>Cromwell Fire Sheet</name>
  <description>
	An app to keep track of staff that are in the building at given time.
    </description>
  <author email="vajan@cromwell.co.uk" href="https://cromwell.co.uk">
      Nitin Vaja
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="landscape" />
  <platform name="ios">
      <preference name="Orientation" value="all" />
  </platform>	
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <gap:plugin name="phonegap-nfc" source="npm" />
</widget>
